@model PhytRxProject.Models.Patient
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PPic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PPic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Log.ComTxt)*@
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Log.ComTxt)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Physician.PhName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Physician.PhName)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="selectedPatient" style="display:none">@Html.DisplayFor(model => model.PID)</div>

<a class="ViewLogs btn btn-default">View Patient Logs</a>
<a class="VewRX btn btn-default">View Patient Rx</a>
<a class="CreateRX btn btn-default">create RX for Patient</a>

<script src="~/Scripts/jquery-3.3.1.js"></script>
@section Scripts {
    <script>

        var patient = document.getElementById("selectedPatient").innerText.toString();
        var thepatient = parseInt(patient);
        console.log(thepatient);

        $(document).ready(function () {

            $(".ViewLogs").click(function () {

                window.location.assign("/Logs/Index/?PID=" + thepatient);
            })

            $(".VewRX").click(function () {

                window.location.assign("/RXes/Index/?PID=" + thepatient);
            })

            $(".CreateRX").click(function () {

                window.location.assign("/RXes/Create/?PID=" + thepatient);
            })

        })
    </script>

}